
/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
html{
    font-size: 62.5%;/* hack 1ren = 10px*/
}

/*generales*/

.flex_center{
    display: flex;    
    justify-content: center;

}

/*Estilos del Header*/
.header{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "header__logo header__titulo header__user"
    "header__nav header__nav header__nav";        
    background-color: #4d4a4aeb;
}

.header__logo{
    grid-area: header__logo;
}
.header__logo img{
    width: 85px;
}

.header__titulo{
    flex-direction: column;
    grid-area: header__titulo;    
    text-align: center;
    color: black;
    font-size: 4rem;

}
.header__titulo h1{    
    text-shadow: 11px -4px 19px #06dbee;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: -10px;
    color:  #a21a1a;
}
.header__titulo h2 {
    font-size: 4rem;
    font-family: 'Euphoria Script';
    font-style: italic;
    margin-top: -25px;
    color: white;
}

.header__user{
    grid-area: header__user;
    align-items: center;
    justify-content: space-evenly;    
}
.header__user p{
    border-radius: 47px;
    background: #bafef9;
    color: black;
}
.header__user img{
    width: 65px;
}

.header__nav{
    grid-area: header__nav;
    position: sticky;
    background-color: #a21a1a;
    border-radius: 100px 0px 100px 1px;
    justify-items: center;
    border: 1px inset #04fffafc;
    align-items: center;
}
.header__nav ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 2px 0px;
}
.header__nav__li{
    padding: 0px 20px;
    margin: 0px 20px;
    background-color: #8ac2c34a;
    border-radius: 15px;
}
.header__nav a{
    text-decoration: none;
    font-size: 2rem;
    color: #fff;    
}
.header__nav--active{
    background-color: black;
}

.header__nav--input{
    margin: 0px 20px;
}
.header__nav--input input{    
    background-color: #8ac2c34a;
    width: 300px;
    height: 25px;
    border-radius: 13px;    
}
.header__nav--input input::placeholder{
    font-family:'Courier New', Courier, monospace;    
    color: rgba(0, 0, 0, 0.485);
    font-weight: bold;
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
    border: none;
}
.header__nav--input input:focus{
    background-color: black;
    color: white;
}

/*Estilos del main*/
.main{
    background-color: #e5e5f7;
    background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    text-align: center;
    padding-bottom: 10px;    
}
.main__galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    align-items: center;
    grid-column-gap: 3px;
    border: 14px inset #808080bf;
}
.main__galeria img{
    width: 100%;
    height: 100%;
}
.main__presentacion{
    margin: 2% 20%;    
}
.main__presentacion h3{
    font-size: 4rem;
}
.main__presentacion p{
    font-size: 2rem;
}




.main__barra{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;    
    color: #fff;
    padding: 10px 0px;
}
.main__barra img{
    width: 80px;
}
.main__barra p{
    font-size: 2rem;    
}
.main__barra__columnas{
    display: flex;

    align-items: center;
    margin: 10px 10px;   
}

/*Estilos Footer*/
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #4d4a4ad6;
    align-items: center;
}
.footer img{
    width: 50px;
}
.footer p {
    font-size: 2rem;
}
.footer__datos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer__datos__iconos{
    margin: 10px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.footer__redes{
    display: flex;    
    justify-content: center;
    align-items: center;
    
}
.footer__redes img{
    padding: 5px;
    padding: 5px;
}
.footer__redes h3{
    font-size: 2rem;
}

/*Responsive*/
@media screen and (max-width: 1024px) {
    .header{
        background-color: #06dbee;
        
    }
    .header__logo{
        display: flex;
        
    }
}

@media screen and (max-width: 768px) {
    .header{
        background-color: yellow;
    }
    .header__logo{
        display: flex;

    }
}

@media screen and (max-width: 480px) {
    .header{
        background-color: rgb(255, 0, 251);
    }
    .header__logo{
        display: flex;

    }
}
@media screen and (max-width: 320px) {
    .header{
        background-color: black; 

    }
}
